body {
	
	background: #fa6444;
}

div{
font-family: "proxima-nova", Proxima Nova, "Helvetica Neue", sans-serif;
font-weight: 900;
font-size: 60px;
color: white;
text-transform: uppercase;
text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
text-align: center;
line-height: 60px;
color: white;
text-decoration: none;
cursor: pointer;
-webkit-transition: all .1s ease-out;
-moz-transition: all .1s ease-out;
-ms-transition: all .1s ease-out;
-o-transition: all .1s ease-out;
transition: all .1s ease-out;

  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 960px;
}
